* {
  overflow: hidden;
}

.list_abm {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 600px;
}

.rowFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardMargin {
  margin: 10px;
}
